In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## Cleaning

In [40]:
file = "/home/putra/Downloads/tmpjdulssd7.csv"
data= pd.read_csv(file)
data.head()
#data['Lat'].isna().values
value, freq = np.unique(data['SHOOTING'].isnull().values, return_counts = True)
(value, freq)

(array([False,  True]), array([  1740, 422793]))

In [57]:
data[data['SHOOTING'].notnull()].shape

(1740, 17)

Terdapat

In [58]:
summary_data = data.describe(include = 'all')
summary_data.loc['count',:].sort_values()

SHOOTING                 1740
Lat                    395898
Long                   395898
STREET                 412156
DISTRICT               422346
UCR_PART               424423
INCIDENT_NUMBER        424533
HOUR                   424533
DAY_OF_WEEK            424533
YEAR                   424533
OCCURRED_ON_DATE       424533
REPORTING_AREA         424533
OFFENSE_DESCRIPTION    424533
OFFENSE_CODE_GROUP     424533
OFFENSE_CODE           424533
MONTH                  424533
Location               424533
Name: count, dtype: object

In [59]:
((424533 - 395898)/424533)*100

6.745058688017186

In [5]:
(424533.000000 - 395898.000000)/424533.000000

0.06745058688017186

karena missing data kurang dari 2% total observation, observation yang mempunyai missing di hapus

In [6]:
data = data.dropna(axis = 0)

In [7]:
data.describe()

,OFFENSE_CODE,YEAR,MONTH,HOUR,Lat,Long
count,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000
mean,1159.190103,2017.051298,7.144237,13.062161,42.310774,-71.082917
std,1152.189853,1.282698,3.091844,8.393140,0.023594,0.019244
min,111.000000,2015.000000,1.000000,0.000000,42.236311,-71.167152
25%,413.000000,2016.000000,5.000000,3.000000,42.293075,-71.091878
50%,413.000000,2017.000000,7.000000,16.000000,42.312243,-71.081742
75%,1848.000000,2018.000000,10.000000,21.000000,42.325475,-71.071787
max,3831.000000,2019.000000,12.000000,23.000000,42.391933,-70.995362

In [8]:
424533.000000 - 395898.000000

28635.0

In [13]:
null_list = data['Lat'].isnull().map({False : 0, True: 1})
sum(null_list)

0